*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    
  
}
.todoo{
    padding: 3%;
    background-color: rgb(10, 152, 165);
    color: aliceblue;
    margin-bottom: 10%;
}

.me-auto{
    display: flex;
    align-items: center;
}

////.Home{
    color: aliceblue;
}
.space{
    display: flex;
    justify-content: space-between;
}

.saludo{
    align-content: center;
    margin-left: 35%;
    margin-top: 0%;
   
}

.margitodo{
    margin-left: 8%;
    margin-top: 0%;
    
}

.tituloa{
margin-left: 20%;
color: rgb(206, 130, 245);
border-color:aliceblue

}

.center2{
 margin-left: 40%;
}

.margip{
    margin-left: 35%;
}

.myphoto{
    margin-right: 20%;
    padding: 0%;
}

.mylogo{
    height: 50%;
    width: 10%;
}


/*componente studies*/
.titulostudies{
  margin-left: 40%;
 margin-bottom: 2%;
 margin-top: 8%;
}

.paddings{
    padding: 10%;
}

/*componente experience*/
.tituloexperience{
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 8%;
    
}

