* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
}

/*componente home*/
.todoo {
  width: 100%;
  color: black;
  background-image: url("../src/assets/torotoro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  background-image: url("./assets/torotoro3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:black;
  width: 100%;
  width: 100%;
  
}

.space {
  display: flex;
  justify-content: center;
}

.saludo {
  align-content: center;
  margin-left: 35%;
  margin-top: 0%;
  color: black;
}

.margitodo {
  display: flex;
  align-items: center;
}

.tituloa {
  margin-left: 20%;
  color:black;
  border-color: rgb(23, 22, 22);
}

.center2 {
  padding-left: 45%;
  padding-top: 8%;
}

.margip {
  padding-left: 15%;
  padding-top: 1%;
}

.myphoto {
  margin-right: 0%;
  padding: 0%;
}

/*componente header*/
.me-auto {
  display: flex;
  align-items: center;
}
.mylogo {
  display: flex;
  justify-content: flex-start;
  height: 65%;
  width: 25%;
}

/*componente studies*/

.studies {
  background-image: url("./assets/logoexperience.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  width: 100%;
}

.titulostudies {
  margin-left: 40%;
  margin-bottom: 2%;
  margin-top: 8%;
}

.paddings {
  padding: 10%;
}

.competencias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0%;
  padding-bottom: 5%;

  width: 100%;
  height: 100%;
}

#spacestar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
}

.stars img {
  width: 15px;
  height: 15px;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  height: auto;
  width: auto;
  max-height: 30px;
  max-width: 30px;
}

/*componente experience*/

.experience {
  min-height: calc(100vh-10rem);
  size: 80%;
  color: black;
  background-image: url("./assets/castillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6%;
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*componente contactos*/

.contacto {
  background-image: url("./assets/fondo3.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
  padding-top: 9%;
  padding-bottom: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.form-group {
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

label {
  font-size: 1.8 rem;
  border: none;
}

input,
textarea {
  width: 100%;

  padding: 1.2rem;
  color: var(gray-1);
  background-color: rgb(20, 167, 135);
  border: none;
  border-radius: 8px;
  margin-top: 1rem;
  min-height: 5px;
}
textarea {
  min-height: 25px;
  resize: vertical;
}

#botoncontacto {
  background-color: rgb(20, 167, 135);
}

/*componente myproyect*/
.myproyect {
  background-image: url("./assets/logomyproyect2.jpg");
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 10%;
  padding-left: 15%;
  padding-right: 20%;
  gap: 15%;
}

.card {
  height: 90%;
  width: 90%;
}

#btnproject {
  height: 45px;
  width: 80px;
  font-size: 7px;
  margin-left: 16%;
}
#imagenproject {
  height: 5rem;
}
.spaceproject {
  display: flex;
  height: 30px;
}

#deployproject {
  height: 30px;
}
/* componente footer*/
.footer {
  background-color: black;
  padding: 10%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  height: 4rem;
}

.imgf {
  height: 35px;
  width: 45px;
}

imagenproject {
  height: 5rem;
}

@media screen and (max-width: 760px) {
  .mylogo {
    width: 55px;
    height: 45px;
  }
  .myproyect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 1rem;
  }

  .footer {
    background-color: black;
    padding: 0%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    height: 4rem;
    align-items: center;
  }

  .imgf {
    width: 25px;
    height: 25px;
  }

  #spacestar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .margintodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: none;
  }
  .space {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }

  .margip {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin: 0%;
    padding-left: 0%;
    padding: 1rem;
    
  }

  .center2 {
    margin-left: 0%;
    padding: 0%;
  }

  .tituloa {
    text-align: center;
    margin: 0%;
  }

  .titulostudies {
    margin-left: 24%;
  }

  .saludo {
    margin: 0%;
    padding: 0%;
  }
}
